ipython
pytest-pudb
pudb
pytest
psycopg2
flask_marshmallow
marshmallow==3.0.0
flask-marshmallow 
marshmallow-sqlalchemy
Flask-Script

flask
flask_sqlalchemy
flask-graphql
flask-migrate
graphene
graphene-sqlalchemy
pudb
pytest-pudb
Flask-Migrate
flask_migrate
flask_script
Flask-SQLAlchemy==2.4
Flask-Migrate
flask_script
flask_jwt_extended
sqlalchemy
